/* Basic Element Styles */

html {

	/* font */
	font-family: 'Lato', sans-serif;
}
	
body {

	/* image */
	background-image: url("/../LandingPage/img/forest-back.jpg");
}

header {

	/* alignment*/
	text-align: left;
	padding: 15px;
	margin: 20px;
	display: inline-block;
}

/* Styles for Links */

a {

	/* text decoration*/
	text-decoration: none !important;

	/* color */
	color: white !important;
}

/* each individual link */
.link {

	/* alignment */
	text-align: center;
	padding: 10px;
	margin: 15px;
	display: inline-block;

	/* color */
	color: white !important;
	background-color: black;
	opacity: 0.5;
	
	/* font */
	font-size: 15px;
}

/* when hover on link */
.link:hover {
	
	/* color */
	opacity: 0.8;
	border: solid white 1px;

	/* alignment */
	padding: 9px;
	margin: 15px;
}

/* div that holds the links */
.links {

	/* alignment*/
	margin: 15px 15px 15px 400px;
	display: inline-block;
}

/* Styles for Headings */

/* first heading*/
.heading1 {

	/* alignment */
	padding: 5px 660px 5px 5px;
	margin: 15px 15px 15px 300px;

	/* font */
	font-size: 18px;
}

/* on hover heading to elminate link styles*/
.heading1:hover {

	/* color */
	opacity: 0.5;
	border: none;

	/* alignment */
	padding: 5px 660px 5px 5px;
	margin: 15px 15px 15px 300px;
}

/* second heading*/
.heading2 {

	/* alignment */
	padding: 5px 1280px 5px 5px;
	margin: 15px 15px 15px 15px;

	/* font */
	font-size: 18px;
}

/* on hover heading to elminate link styles*/
.heading2:hover {

	/* color */
	opacity: 0.5;
	border: none;

	/* alignment */
	padding: 5px 1280px 5px 5px;
	margin: 15px 15px 15px 15px;
}

/* social media heading*/
.heading3 {

	/* alignment */
	padding: 5px 515px 5px 5px;
	margin: 15px 15px 15px 350px;

	/* font */
	font-size: 18px;
}

/* on hover heading to elminate link styles*/
.heading3:hover {

	/* color */
	opacity: 0.5;
	border: none;

	/* alignment */
	padding: 5px 515px 5px 5px;
	margin: 15px 15px 15px 350px;
}

/* Styles for Images */ 

.main-image {

	/* alignment */
	width: 740px;
	height: 500px;
	margin: 0px 0px 0px 300px;

	/* border */
    border-radius: 25px;
    background: url(paper.gif);

    /* img settings*/
    background-position: left top;
    background-repeat: repeat;
}

/* Style for Content */

.back-content {

	/* alignemnt */
	margin: 15px;
	padding: 20px;

	/* color */
	color: white !important;
	background-color: black;
	opacity: 0.5;
}

.back-content:hover {

	/* alignemnt */
	margin: 15px;
	padding: 19px;

	/* color */
	opacity: 0.8;
	border: solid white 1px;
}

/* Styles for Carousel */

.arrow-style {

	/* alignment */
	height: 40px;
	padding: 5px !important;
}

.dot-style {

	/* leave empty */
	padding: 10px;
	margin: 20px;
}

.dot-style:hover {

	/* alignment */
	padding: 10px;
	margin: 15px;
}

.pic-carousel {

	/* alignment */
	text-align: center;
	margin: 0px 0px 0px 255px;
}

.carousel-style {

	/* alignment */
	width: 725px;
	height: 500px;
	margin: 15px 15px 15px 60px;
}

.pic-info {

	/* alignemnt */
	/*margin: 15px 15px 15px 400px !important;*/
	padding: 20px !important;
}

.pic-info:hover {

	/* alignemnt */
	/*margin: 15px 15px 15px 400px !important;*/
	padding: 19px;
}

/* Styles for Email Form*/

.email-form {

	/* alignment */
	/*text-align: center;*/
}

.submit-content1 {

	/* alignment */
	margin: 10px 10px 10px 350px;
}

input[type="text"] {

	/* alignment */
	display: block;
  	width: 50%;

  	/* font */
  	font-family: sans-serif;
  	font-size: 18px;

  	/* box */
  	appearance: none;
  	box-shadow: none;
  	border-radius: none;
}

input[type="text"]:focus {

  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.submit-button {
	text-align: center;
	margin: 5px;
	padding: 10px;
}

.submit-button:hover {
	text-align: center;
	margin: 5px;
	padding: 10px;
}

/* Media Links */

.media-div {

	/* alignemtn */
	margin: 10px 10px 10px 615px;
}

.media-icon {

	/* alignment */
	text-align: center;
	margin: 10px;
}

/* CSS Media Queries */

@media (min-device-width: 375px) and (max-width: 667px) {
  .main-page {
  	width: 100% !important;
  	height: 100% !important;
  }
  .main-image {
  	width: 335px !important;
  	height: 330px !important;
  	margin: 15px;
  }
  .links {
  	margin: 0px !important;
  	width: 100% !important;
  	height: 100% !important;
  }
  .link {
  	display: block;
  	padding: 5px;
	margin: 15px;
  }
  .heading1 {
  	padding: 5px;
	margin: 15px;
  }
  .pic-carousel {
	margin: 0px;
  }
  .carousel-style {
	width: 280px;
	height: 180px;
	margin: 30px 15px 20px 45px !important;
	padding: 40px 0px 0px 0px !important;
  }
  .pic-info {
	display: none;
  }
  .back-content2 {
  	margin: 60px 5px 17px 5px;
  }
  .submit-content1 {
  	margin: 10px 10px 10px 90px;
  	text-align: center;
  }
  .submit-button {
  	margin: 0px 0px 0px 75px;
  }
}