/* basic element styles */
html {

}
	
body {

}

/* styles for links */
a {
	text-decoration: none !important;
}

.link {
	text-align: right;
	padding: 10px;
	margin: 15px;
	display: inline-block;
	color: black !important;
	background-color: black;
	opacity: 0.2;
	font-size: 15px;
}

.links {
	margin: 15px 15px 15px 750px;
}